footer {
    background: var(--blue-color);
    
    width: 100%;
    height: var(--footer-height);
    padding: .5rem;

    position: fixed;
    bottom: 0;
}

footer > p {
    text-align: center;
}

footer > p > a {
    font-family: textos;
    font-size: 1rem;
}