@import url(./variables.css);
@import url(./logo.css);
@import url(./navbar.css);
@import url(./search.css);
@import url(./header.css);
@import url(./burguer.css);
@import url(./items.css);
@import url(./footer.css );
@import url(./styles.css);
@import url(./slide.css);


#novedades {
    padding-top: var(--navbar-height);
}

#infantil{
    margin-bottom: var(--footer-height);
    padding-bottom: 2rem;
}
#series{
    padding-top: 0;
}

.series-item {
    color: white;
}

.slider-item{
    max-width: 90%;
    margin: auto;
}
