
.navbar {
    background: var(--blue-color);
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    
    height: var(--navbar-height);
    width: 100%;

    z-index: 2;
}

.logout-icon {
    position: absolute;
    top: 0.5rem ;
    height: var(--icon-size);
    width: var(--icon-size);
    right: 0;
}

@media (min-width:768px) {
    
}