.search-holder{
    display: none;
}

/* icono lupa */
.search-label {
    position: fixed;
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: contain;
    background-image: url(../images/lupa-icon.png);
    /* object-fit: scale-down; */
    /* posicionamos */ 
    top: calc(var(--navbar-height) - var(--icon-size)) ;
    right: 0;

}
/* caja de busqueda posicionamiento*/
.search-holder{
    position: fixed;

    top:calc( var(--navbar-height) + .2rem);
    right: 0.2rem;

    border-radius: 3px;
    border: none;
    padding: 0.1rem;

    font-family: textos;
}

/* evento checked*/
#search:checked ~ .search-holder {
    display: flex;
}

/* @media (min-width:768px) {
    .search-label {
        top:.5rem;
        right: calc(var(--icon-size)+2rem);
    }

    .search-holder {
        top:.5rem;
        right: calc(var(--icon-size) * 2 + 1.5rem)
    }
} */