.search-holder{
    display: none;
}

/* icono lupa */
.search-label {
    position: fixed;
    width: 34px;
    height: 34px;
    background-size: contain;
    background-image: url(../images/lupa-icon.png);
    /* object-fit: scale-down; */
    /* posicionamos */ 
    top: calc(var(--navbar-height)/2.5);
    right: .2rem;

}
/* caja de busqueda posicionamiento*/
.search-holder{
    position: fixed;

    top:calc( var(--navbar-height) + .2rem);
    right: 0.2rem;

    border-radius: 3px;
    border: none;
    padding: 0.1rem;

    font-family: textos;
}

/* evento checked*/
#search:checked ~ .search-holder {
    display: flex;
}