

.main {
    max-width: var(--max-width);
}

.index-title {
    font-family: titulos;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0 0 0;
    color: white;
}

body {
    background: var(--grey-color);
    
}